<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password Mail</title>
    <style>
      .primary-btn{
          align-items: center;
          border: none;
          border-radius: 16px;
          display: inline-flex;
          font-size: 14px;
          font-weight: 700;
          justify-content: center;
          line-height: 20px;
          padding: 18px 24px;
          background-color: #c6fa56; 
          padding:10px; 
          border-radius: 10px;
          text-decoration: none;
          color: black;
      }
      body{
        padding:30px;
        margin:30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Middn App</h1><br/>
      <h4>{{title}}</h4>
        <p><strong>{{otp}}</strong> is your OTP for Admin Portal Forgot Password.</p>
        {{!-- <p>Please click below to reset your password using OTP</p> --}}
      {{!-- <a href={{appurl}}><button class="primary-btn">Click here</button></a> --}}
    </div>
  </body>
</html>