<!DOCTYPE html>
<html>
  <head>
    <title>Rejection Mail</title>
    <style>
      .primary-btn{
          align-items: center;
          border: none;
          border-radius: 16px;
          display: inline-flex;
          font-size: 14px;
          font-weight: 700;
          justify-content: center;
          line-height: 20px;
          padding: 18px 24px;
          background-color: #c6fa56; 
          padding:10px; 
          border-radius: 10px;
          text-decoration: none;
          color: black;
      }
      body{
        padding:30px;
        margin:30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Middn App</h1><br/><br/>
      <h4>{{title}}</h4>
        <p><strong>Message: &nbsp;</strong>  {{message}}</p>
      <a href="https://ico.middn.com/"><button class="primary-btn">Click to KYC again</button></a>
    </div>
  </body>
</html>